
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body{
   
font-family: 'Libre Baskerville', serif;
   
}
.container{
    background: linear-gradient(109.6deg, rgb(251, 186, 186) 11.2%, rgb(200, 122, 245) 91.2%);
    height: 80vh;
    padding: 20px;
   
}
.navbar{
    display: flex;
    justify-content: space-between;
}

.logo{
     font-size: 24px; 
     padding: 15px;
     font-weight: bolder;   
     color: blueviolet;
}
    
.nav{
    display: flex;
    gap: 16px;
    padding: 20px;
}
ul{
    list-style: none;
    color: #6643b5;
}
.header{
    display: flex;
    gap: 8px;
   
}
.main-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    vertical-align: top;
    text-align: center;
}

p{
    margin: 0;
    font-size: 12px;
    color: #28082d;
}
h1{
    color: white;
}
 button#click-me{
   color: white;
   background: #6643b5;
   border-radius: 12px;
   border: none;
   padding: 5px 10px 5px 10px;
   text-align: center;
}

.wrapper{
display: flex;
flex-direction: row;
gap: 8;
}

.box{
   
   box-sizing: white;
  border: 2px solid red;
   width: 100px;
  border-radius: 8px;
  
}
h2{
    text-align: center;
    font-size: 36px;
    color: #1f2937;
    padding: 8px;
}
.box{
    width: 80px;
    height: 80px;
    border: 2px solid #3882f6;
    border-radius: 8px;
}
.boxes{
    display: flex;
  justify-content: center;
   
   
}
